.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  padding: 10px 0;
}
.social-container i {
  color: grey;
}

.social-container i:hover {
  color: white;
}
.social-container a {
  text-decoration: none;
  margin: 5px;
  font-size: 1.5em;
  transition: transform 450ms;
}

.social-container a:hover {
  transform: scale(1.1);
}

.copyright {
  margin: 0;
  /* padding-top: 60px; */
}

.copyright p {
  color: grey;
  font-size: 13px;
}
